
/* Color palette */

/*
main red - #c44330
grey - #363636
*/

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Register and Log In pages
   ========================================================================== */

   /* restricts the forms widths */
.form-signin {
	max-width: 400px;
	padding: 15px;
	margin: 0 auto;
}

.form-edit {
	max-width: 400px;
	padding: 15px;
	margin: 0 auto;
}
	/* Gives the forms a little red star when they are invalid */
.form-group.required .control-label:after { 
	content:" *";
	color:red;
}

/* ==========================================================================
   Heading / Navigation
   ========================================================================== */

	/* Creates space between the content and the floating heading */
.content-container {
	margin-top: 50px;
}

   /* verticaly centers the search bar */
nav .input-group {
	margin-top: 8px;
}

.navbar {
	background-color: #c44330;
}

.navbar a:link {
	color: #ffffff;
}

.navbar a:visited {
	color: #ffffff;
}

.navbar a:hover {
	color: #363636;
}

.navbar a:active {
	color: #ffffff;
}

/* ==========================================================================
   Pokemon index
   ========================================================================== */

.pokemon-index {
	text-align: center;
	margin-bottom: 30px;
}

.pokemon-index img {
	background-color: #eeeeee;
}

.pokemon-number {
	width: 100px;
	color: #ffffff;
	background-color: #363636;
	margin-left: -15px;
	margin-right: -30px;
	display: inline-block;
	height: 35px;
	line-height: 35px;
}

.pokemon-number p {
	margin-left: -35px;
	font-size: 20px;
	text-align: center;
}

.pokemon-name {
	width: 165px;
	color: #ffffff;
	position: relative;
	background-color: #575757;
	transform: skew(-35deg);
	display: inline-block;
	height: 35px;
	line-height: 35px;
	margin: 0 auto;
	position: relative;
	left: 3px;
}

.pokemon-name p {
	transform: skew(35deg);
	font-size: 20px;
	padding-right: 20px;
}

/* ==========================================================================
   Pokemon stats
   ========================================================================== */


.type-block {
	display: inline-block;
	text-align: center;
	width: 100px;
	font-size: 20px;
	color: #eeeeee;
	border: 1px solid #363636;
}

.water {
	background-color: #56aeff;
}

.normal {
	background-color: #bab9ab;
}

.fire {
	background-color: #fa5643;
}

.fighting {
	background-color: #a85646;
}

.water {
	background-color: #56aeff;
}

.flying {
	background-color: #79a3ff;
}

.grass {
	background-color: #8bd550;
}

.poison {
	background-color: #aa5da1;
}

.electric {
	background-color: #fde53e;
}

.ground {
	background-color: #e7c753;
}

.psychic {
	background-color: #f762b2;
}

.rock {
	background-color: #cebd72;
}

.ice {
	background-color: #96f1ff;
}

.bug {
	background-color: #c2d21f;
}

.dragon {
	background-color: #8874ff;
}

.ghost {
	background-color: #7672d1;
}

.dark {
	background-color: #81624f;
}

.steel {
	background-color: #c3c1da;
}

.fairy {
	background-color: #f9aeff;
}

.stat-bar {
	content: "";
	background-color: lime;
	display: inline-block
}

