
/* Color palette */

/*
main red - #c44330
grey - #363636
*/

/* ==========================================================================
	Author's custom styles
	========================================================================== */

/* ==========================================================================
	Sticky Footer html/body
	========================================================================== */

html {
	position: relative;
	min-height: 100%;
}

/** {
	border: 2px black solid;
}*/

body {
	margin-bottom: 200px;
}

/* ==========================================================================
	Register and Log In pages
	========================================================================== */

   /* restricts the forms widths */
.form-signin {
	max-width: 400px;
	padding: 15px;
	margin: 0 auto;
}

.form-edit {
	max-width: 400px;
	padding: 15px;
	margin: 0 auto;
}
	/* Gives the forms a little red star when they are invalid */
.form-group.required .control-label:after { 
	content:" *";
	color:red;
}

/* ==========================================================================
	Heading / Search Bar
	========================================================================== */

#search-bar {
	display: inline-block;
	max-width: 220px;
	margin-top: 8px;
}

	/* Pokedex camera Lens */
.camera-lens {
	padding: 4px 10px 4px 0;
}

@media (max-width: 767px) {
	.camera-lens {
		padding: 8px 10px 4px 10px;
		margin-top: -20px;
	}
}

/* ==========================================================================
	Input fields
	========================================================================== */

.form-control {
	border-radius: 0;
	-webkit-appearance: none;
}
	/* Flatening and squaring inputs */
.btn {
	border-radius: 0;
	border: none;
	background-image: none;
	background-repeat: none;
}

.btn:hover {
	border-radius: 0;
	border: none;
	background-image: none;
	background-repeat: none;
	text-shadow: none;
}

.input-group-addon {
	border-radius: 0;
}

.btn-default {
	background-color: #eeeeee;
	margin: 4px;
}

.btn-primary, .btn-danger {
	margin-top: 10px;
}

.btn-primary {
	background-color: #58bad2;
}

.btn-primary:active {
	background-color: #4dafcb;
}

.btn-primary:hover {
	background-color: #4dafcb;
}

.btn-danger {
	background-color: #c44330;
}

.btn-danger:hover {
	background-color: #a13a2f;
}

.btn-edit {
	background-color: #eeeeee;
	margin-left: 20px;
}

.btn-edit:hover {
	
}

.btn-search {
	background-color: #363636;
	border: 1px solid #363636;
	color: white;
}

.btn-search:hover {
	background-color: #575757;
	border: 1px solid #575757;
	border-left: none;
	color: white;
}

.comment-block {
	margin: 0 20px;
}

.btn-addRemove {
	width: 250px;
	padding: 5px 0;
	margin: 10px auto 0 auto;
	color: #363636;
	background-color: #eeeeee;
	border: solid 1px #575757;
}

.btn-addRemove:hover {
	color: #47BBD3;
	border: solid 1px #47BBD3;
}

.svgPokeball {
	width: 26px;
}

/* ==========================================================================
	Heading / Navigation
	========================================================================== 

	/* Creates space between the content and the floating heading */
.content-container {
	margin-top: 50px;
}

.navbar-nav {
	margin-right: 10px;
}

.visible-xs-inline-block li a{
	height: 50px;
	margin-left: 10px;
	font-size: 30px;
	line-height: 30px;

}

.navbar {
	background-color: #c44330;
	border: 0;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 18px;
}

.navbar a:link {
	color: #fff;
}

.navbar a:visited {
	color: #fff;
}

.navbar a:hover {
	color: #363636;
}

.navbar a:active {
	color: #363636;
}

.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	background-color: #eee;
}

	/* Dropdown button for mobile - Colors */
.navbar-toggle {
	border: 1px solid #fff;
	color: #fff;
}

.navbar-toggle span{
	background-color: #fff;
}

/* ==========================================================================
	Footer
	========================================================================== */

footer {
	background-color: #c44330;
	color: #fff;
	margin-top: 50px;

	min-height: 100px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer-row {
	margin-top: 20px;
	margin-bottom: 20px;
}

footer img {
	margin-left: 10px;
	width: 28px;
}

.footer-link {
	display: inline-block;
}

.footer-link:nth-child(1) {
	margin-left: -10px;
	margin-top: 10px;
}

.footer-link:nth-child(2) {
	margin-left: -39px;
	margin-top: 5px;
}

.footer-link:nth-child(3) {
	margin-left: -40px;
	margin-top: 10px;
}

.footer-triangle {
	position: relative;
	top: 25px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 35px 35px 0 0;
	border-color: #363636 transparent transparent transparent;
}

.footer-link:hover a {
	background-color: #575757;
}

.footer-link:hover .footer-triangle {
	border-color: #575757 transparent transparent transparent;
}

footer a:link {
	color: #fff;
	background-color: #363636;
	text-decoration: none;
	padding: 10px 80px 10px 80px;
}

footer a:visited {
	color: #fff;
}

footer a:hover {
	color: #fff;
}

footer a:active {
	color: #fff;
}

/* ==========================================================================
	Pokemon index
	========================================================================== */

.pokemon-index {
	text-align: center;
	margin-bottom: 30px;
}

.pokemon-index img {
	background-color: #eeeeee;
}

.pokemon-number {
	width: 100px;
	color: #fff;
	background-color: #363636;
	margin-left: -15px;
	margin-right: -30px;
	display: inline-block;
	height: 35px;
	line-height: 35px;
}

.pokemon-number p {
	margin-left: -35px;
	font-size: 20px;
	text-align: center;
}

.pokemon-name {
	width: 165px;
	color: #fff;
	position: relative;
	background-color: #575757;
	transform: skew(-35deg);
	display: inline-block;
	height: 35px;
	line-height: 35px;
	margin: 0 auto;
	position: relative;
	left: 3px;
}

.pokemon-name p {
	transform: skew(35deg);
	font-size: 20px;
	padding-right: 20px;
}

/* ==========================================================================
	Pokemon show - Data tab
	========================================================================== */

#data {
	margin-top: 20px;
	text-align: center;
}

/* ==========================================================================
	Moves tables - Moves tab
	========================================================================== */

.table-striped > tbody > tr:nth-child(odd) > td {
	background-color: #eeeeee;
	color: #363636;
}

.table-striped > tbody > tr:nth-child(even) > td {
	background-color: #cccccc;
	color: #363636;
}

.table-striped th {
	background-color: #363636;
	color: #fff;
}

/* ==========================================================================
	Pokemon show - Comments tab
	========================================================================== */

	/* Comments */
.comment-bubble {
	padding: 5px 20px;
}

.comment-hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ddd;
	margin: 1em 0;
	padding: 0;
}

p.username {
	font-weight: bold;
	font-size: 18px;
}

p.created-at {
	color: #9c9c9c;
	font-size: 12px;
}

p.comment {

}

/* ==========================================================================
	Pokemon stats
	========================================================================== */

.type-block {
	display: inline-block;
	text-align: center;
	width: 100px;
	font-size: 20px;
	color: #eeeeee;
	border: 1px solid #363636;
}

.water {
	background-color: #56aeff;
}

.normal {
	background-color: #bab9ab;
}

.fire {
	background-color: #fa5643;
}

.fighting {
	background-color: #a85646;
}

.water {
	background-color: #56aeff;
}

.flying {
	background-color: #79a3ff;
}

.grass {
	background-color: #8bd550;
}

.poison {
	background-color: #aa5da1;
}

.electric {
	background-color: #fde53e;
	color: #363636;
}

.ground {
	background-color: #e7c753;
}

.psychic {
	background-color: #f762b2;
}

.rock {
	background-color: #cebd72;
}

.ice {
	background-color: #96f1ff;
}

.bug {
	background-color: #c2d21f;
}

.dragon {
	background-color: #8874ff;
}

.ghost {
	background-color: #7672d1;
}

.dark {
	background-color: #81624f;
}

.steel {
	background-color: #c3c1da;
	color: #363636;
}

.fairy {
	background-color: #f9aeff;
	color: #363636;
}

/* ==========================================================================
	Flash message
	========================================================================== */

.flash-message {
	margin-top: 50px;
	margin-bottom: -50px;
	padding: 10px;
}

.alert-success {
	border-radius: 0;
	border: none;
	background-image: none;
	background-repeat: none;
	background-color: #8BD5E4;
	text-shadow: none;
	color: #fff;
}

.alert-success button.close {
	text-shadow: none;
}

/* ==========================================================================
	Stat bars
	========================================================================== */

.stat-bar {
	content: "";
	background-color: #16d600;
	display: inline-block;
}

.stat-bar-2 {
	content: "";
	background-color: #d5d5d5;
	display: inline-block;
}

.stat-info  {
	display: inline-block;
	width: 40px;
	text-align: center;
}

.stat-detail {
	display: inline-block;
	width: 60px;
	text-align: right;
}

.stat {
	display: inline-block;
	max-width: 255px;
}

.stat-row {
	text-align: left;
}

.pokemon-stats {
	padding-top: 10px;
	margin: 0 auto;
	width: 285px;
	border: #ddd solid 1px;
}

.pokeball {
	background-color: red;
}



